# Chapter 3

In [1]:
import pandas as pd
import dask.dataframe as ddf

person_IDs = [i for i in range(1, 10+1)]
person_last_names = ["Smith", "Williams", "Williams", "Jackson", "Johnson", "Smith", "Anderson", "Christiansen", "Carter", "Davidson"]
person_first_names = ["John", "Bill", "Jane", "Cathy", "Stuart", "James", "Felecity", "Liam", "Nancy", "Christian"]
person_DOBs = ["1982-10-06", "1990-07-04", "1989-05-06", "1974-01-24", "1995-06-05", "1984-04-16", "1976-09-15", "1992-10-02", "1986-02-05", "1993-08-11"]
peoplePandasDataFrame = pd.DataFrame({"Person ID":person_IDs, "Last Name":person_last_names, "First Name":person_first_names, "Date of Birth":person_DOBs}, columns=["Person ID", "Last Name", "First Name", "Date of Birth"])
peoplePandasDataFrame

   Person ID     Last Name First Name Date of Birth
0          1         Smith       John    1982-10-06
1          2      Williams       Bill    1990-07-04
2          3      Williams       Jane    1989-05-06
3          4       Jackson      Cathy    1974-01-24
4          5       Johnson     Stuart    1995-06-05
5          6         Smith      James    1984-04-16
6          7      Anderson   Felecity    1976-09-15
7          8  Christiansen       Liam    1992-10-02
8          9        Carter      Nancy    1986-02-05
9         10      Davidson  Christian    1993-08-11

In [2]:
peopleDaskDataFrame = ddf.from_pandas(peoplePandasDataFrame, npartitions=2)

print(peopleDaskDataFrame.divisions)
print(peopleDaskDataFrame.npartitions)

(0, 5, 9)
2

In [3]:
peopleDaskDataFrame.map_partitions(len).compute()

0    5
1    5
dtype: int64

In [8]:
people_filtered = peopleDaskDataFrame[peopleDaskDataFrame["Last Name"] != "Williams"]
print(people_filtered.map_partitions(len).compute())

people_filtered_reduced = people_filtered.repartition(npartitions=1)
print(people_filtered_reduced.map_partitions(len).compute())

0    3
1    5
dtype: int64
0    8
dtype: int64